.dashboard {
    margin: 0 auto;
    width: min(1200px, 100%);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.title {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.users,
.userName {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.userName {
    overflow-x: scroll;
}

.userName:hover {
    cursor: pointer;
}

.name:active {
    scale: 0.96;
}

.name {
    font-size: clamp(1rem, 2vw, 1.2rem);
    background-color: var(--secondary-font-color);
    border: 2px solid var(--primary-highlight-color);
    outline: none;
    box-shadow: 0 0 5px solid grey;
    padding: 0px 10px;
    border-radius: var(--lg-border);
}

@media screen and (min-width:300px) and (max-width:1199px) {
    .dashboard {
        padding: 0 10px;
    }
}

@media screen and (max-width:768px) {
    .users {
        margin-top: 1rem !important;
    }
}